<footer class="main-footer light-theme-section">
  <div class="container footer-content">
    <div class="footer-logo">
      <img src="assets/svgs/s_logo.svg" alt="Jose Belmin Logo" class="logo-icon">
    </div>
    <div class="footer-nav">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/portfolio">About</a></li>
        <li><a routerLink="/blog">Projects</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    </div>
</footer>