<header class="main-header">
  <nav class="navbar container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/s_logo.svg" alt="Jose Belmin Logo" class="logo-icon"> <span class="logo-text">JOSE BELMIN</span>
      </a>
    </div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/about">Home</a></li>
        <li><a routerLink="/portfolio">About</a></li>
        <li><a routerLink="/blog">Projects</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>